@charset "UTF-8";
#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header_sub .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0px;
  bottom: 15px;
}
#header_sub .inner > h1 > a {
  font: bold 24px/1 "arial";
  color: #444;
}
#header_sub .menuWeb #gnb {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#header_sub .menuWeb #gnb li {
  float: left;
}
#header_sub .menuWeb #gnb li a {
  display: block;
  padding: 14px 40px;
  font: bold 15px/1 "arial";
  color: #777;
}
#header_sub .menuWeb #gnb li a:hover {
  background: #555;
  color: #fff;
}
#header_sub .menuWeb #util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header_sub .menuWeb #util li {
  float: left;
  margin-left: 20px;
}
#header_sub .menuWeb #util li a {
  font: 12px/1 "arial";
  color: #999;
}
#header_sub .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header_sub .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header_sub .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .menuMo {
  width: 270px;
  height: 100vh;
  background: blue;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header_sub .menuMo.on {
  left: 0px;
}
#header_sub .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header_sub .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header_sub .menuMo h1 a span {
  font-size: 12px;
  color: #aaa;
}
#header_sub .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid aqua;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  margin-bottom: 60px;
}

#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner h1 {
  font: bold 24px/1 "arial";
  color: #fff;
  padding-top: 5px;
  float: left;
}
#footer_sub .inner .detail_address {
  float: left;
  margin-left: 70px;
}
#footer_sub .inner .detail_address address {
  font: 14px/1.7 "arial";
  color: #eee;
  margin-bottom: 20px;
}
#footer_sub .inner .detail_address p {
  font: 12px/1 "arial";
  color: #eee;
}
#footer_sub .inner .service {
  float: right;
}
#footer_sub .inner .service p:nth-of-type(1) {
  font: bold 20px/1 "arial";
  color: orange;
  margin-bottom: 15px;
}
#footer_sub .inner .service p:nth-of-type(2) {
  font: bold 25px/1 "Roboto";
  letter-spacing: 7px;
  color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #eee;
}
body #wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;
}
body #wrap #list {
  opacity: 0;
  transform: trasnlateY(100px);
  transition: 1s;
}
body #wrap #list.on {
  opacity: 1;
  transform: trasnlateY(0px);
}
body #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
body #wrap #list li {
  width: 25%;
  float: left;
  padding: 10px;
}
body #wrap #list li div {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rbga(0, 0, 0, 0.1);
}
body #wrap #list li div a img {
  width: 100%;
}
body #wrap #list li div p {
  font: 12px/1 "arial";
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 0px;
  bottom: 15px;
}
#header .inner > h1 > a {
  font: bold 24px/1 "arial";
  color: #444;
}
#header .menuWeb #gnb {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#header .menuWeb #gnb li {
  float: left;
}
#header .menuWeb #gnb li a {
  display: block;
  padding: 14px 40px;
  font: bold 15px/1 "arial";
  color: #777;
}
#header .menuWeb #gnb li a:hover {
  background: #555;
  color: #fff;
}
#header .menuWeb #util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header .menuWeb #util li {
  float: left;
  margin-left: 20px;
}
#header .menuWeb #util li a {
  font: 12px/1 "arial";
  color: #999;
}
#header .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .menuMo {
  width: 270px;
  height: 100vh;
  background: blue;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header .menuMo.on {
  left: 0px;
}
#header .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .menuMo h1 a span {
  font-size: 12px;
  color: #aaa;
}
#header .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid aqua;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

#visual {
  width: 100%;
  height: calc(100vh - 121px);
  overflow: hidden;
  background: #000;
}
#visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 19%;
}
#visual .inner h1 {
  font: normal 20px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
#visual .inner p {
  font: 30px/1.4 "arial";
  color: #fff;
  margin-bottom: 10px;
}
#visual .inner h2 {
  font: normal 15px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
#visual .inner a {
  display: block;
  width: 100px;
  height: 40px;
  border: 1px solid #bbb;
  font: bold 13px/30px "arial";
  color: #fff;
  line-height: 40px;
  text-align: center;
}
#visual .inner a:hover {
  background: #fff;
  color: #555;
}

#advantage {
  width: 100%;
  padding: 100px 0;
}
#advantage .inner {
  width: 1180px;
  margin: 0 auto;
  background: white;
  position: relative;
}
#advantage .inner article:nth-of-type(1) {
  width: 580px;
  height: 620px;
  float: left;
  margin-right: 10px;
  padding: 20px 20px 0;
  overflow: hidden;
}
#advantage .inner article:nth-of-type(1) h1 {
  font: bold 15px/1 "arial";
  color: #555;
  padding: 10px 10px 0;
  text-align: right;
  margin-bottom: 20px;
}
#advantage .inner article:nth-of-type(1) p {
  font: 25px/1.4 "arial";
  color: #555;
  margin-bottom: 20px;
  text-align: right;
}
#advantage .inner article:nth-of-type(1) img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  float: right;
}
#advantage .inner article:nth-of-type(2) {
  width: 580px;
  height: 620px;
  float: left;
  margin-right: 10px;
  padding: 20px 20px 0;
}
#advantage .inner article:nth-of-type(2) .box1 {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#advantage .inner article:nth-of-type(2) .box1 > p {
  font: 15px/1.4 "arial";
  color: #444;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}
#advantage .inner article:nth-of-type(2) .box1 > a {
  display: block;
  width: 100px;
  height: 40px;
  border: 1px solid #bbb;
  background-color: #555;
  font: bold 13px/30px "arial";
  color: #fff;
  line-height: 40px;
  text-align: center;
}
#advantage .inner article:nth-of-type(2) .box1 > a:hover {
  background: #fff;
  color: #555;
}
#advantage .inner article:nth-of-type(2) .box2 {
  width: 100%;
  height: 60%;
  background: #eee;
  text-align: center;
  position: relative;
}
#advantage .inner article:nth-of-type(2) .box2 ul {
  width: 100%;
  background: yellowgreen;
}
#advantage .inner article:nth-of-type(2) .box2 ul li {
  width: 45%;
  line-height: 80px;
  border: 1px solid #111;
  padding: 15px 20px;
  margin-bottom: 20px;
}
#advantage .inner article:nth-of-type(2) .box2 ul li::after {
  content: "";
  display: block;
  clear: both;
}
#advantage .inner article:nth-of-type(2) .box2 ul li > i {
  font-size: 50px;
  color: #555;
  float: left;
}
#advantage .inner article:nth-of-type(2) .box2 ul li > span {
  font: 20px/1.4 "arial";
  columns: #555;
  background-color: red;
  float: right;
}
#advantage .inner article:nth-of-type(2) .box2 ul li:nth-of-type(1) {
  float: left;
}
#advantage .inner article:nth-of-type(2) .box2 ul li:nth-of-type(2) {
  float: right;
}
#advantage .inner article:nth-of-type(2) .box2 ul li:nth-of-type(3) {
  float: left;
}
#advantage .inner article:nth-of-type(2) .box2 ul li:nth-of-type(4) {
  float: right;
}
#advantage .inner::after {
  content: "";
  display: block;
  clear: both;
}

#future_apt {
  width: 100%;
  padding: 200px 0;
  background: #eee;
}
#future_apt .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#future_apt .inner h1 {
  font: bold 20px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}
#future_apt .inner p {
  font: 25px/1.4 "맑은 고딕";
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}
#future_apt .inner .wrap {
  width: 100%;
}
#future_apt .inner .wrap article {
  width: 580px;
  height: 300px;
}
#future_apt .inner .wrap article .pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#future_apt .inner .wrap article .pic img {
  object-fit: cover;
  transition: 0.5s;
}
#future_apt .inner .wrap article .pic:hover img {
  transform: scale(1.2);
}
#future_apt .inner .wrap article a {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  width: 80px;
  height: 30px;
  border: 1px solid #bbb;
  background-color: #555;
  font: bold 10px/30px "arial";
  color: #fff;
  display: inline-block;
}
#future_apt .inner .wrap article a:hover {
  background: #fff;
  color: #555;
}
#future_apt .inner .wrap article a::after {
  content: "";
  display: block;
  clear: both;
}
#future_apt .inner .wrap article:nth-of-type(1) {
  float: left;
  margin-right: 20px;
}
#future_apt .inner .wrap article:nth-of-type(2) {
  float: right;
}
#future_apt .inner .wrap article:nth-of-type(3) {
  float: left;
  margin-right: 20px;
}
#future_apt .inner .wrap article:nth-of-type(4) {
  float: right;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #fff;
  padding-top: 5px;
  float: left;
}
#footer .inner .detail_address {
  float: left;
  margin-left: 70px;
}
#footer .inner .detail_address address {
  font: 14px/1.7 "arial";
  color: #eee;
  margin-bottom: 20px;
}
#footer .inner .detail_address p {
  font: 12px/1 "arial";
  color: #eee;
}
#footer .inner .service {
  float: right;
}
#footer .inner .service p:nth-of-type(1) {
  font: bold 20px/1 "arial";
  color: orange;
  margin-bottom: 15px;
}
#footer .inner .service p:nth-of-type(2) {
  font: bold 25px/1 "Roboto";
  letter-spacing: 7px;
  color: #fff;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner > h1 {
    left: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo {
    display: block;
  }
  #visual {
    height: calc(100vh - 101px);
    background: url(../img/visual1.jpg) no-repeat center/cover;
  }
  #visual video {
    display: none;
  }
  #visual .inner {
    width: 100%;
    padding: 0px 30px;
  }
  #advantage {
    padding: 50px 30px;
  }
  #advantage .inner {
    width: 100%;
  }
  #advantage .inner .inner {
    width: 49%;
    margin-right: 2%;
  }
  #future_apt {
    padding: 50px 30px;
  }
  #future_apt .inner {
    width: 100%;
    margin-right: 2%;
  }
  #future_apt .inner .wrap article a {
    font: bold 10px/20px "arial";
    line-height: 30px;
  }
  #future_apt .inner .wrap article:nth-of-type(1) {
    float: left;
    width: 49%;
    margin-right: 2px;
  }
  #future_apt .inner .wrap article:nth-of-type(2) {
    float: right;
    width: 49%;
  }
  #future_apt .inner .wrap article:nth-of-type(3) {
    float: left;
    width: 49%;
    margin-right: 2px;
  }
  #future_apt .inner .wrap article:nth-of-type(4) {
    float: right;
    width: 49%;
  }
}

/*# sourceMappingURL=style.css.map */
