.join {
	.inner {
		h2 {
			font: bold 18px/1 "arial";
			color: #555;
			margin-bottom: 20px;
		}

		#terms {
			width: 100%;
			height: 100px;
			padding: 20px;
			font: 12px/1.3 "arial";
			color: #888;
			background: #eee;
			margin-bottom: 20px;
			resize: none;
		}
	}
}
