// 분양정보 scss
@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #eee;
	#wrap {
		width: 100%;
		padding: 50px;
		overflow: hidden;
		#list {
			opacity: 0;
			transform: trasnlateY(100px);
			transition: 1s;
			&.on {
				opacity: 1;
				transform: trasnlateY(0px);
			}
			//float 하기전에
			&::after {
				content: "";
				display: block;
				clear: both;
			}

			li {
				width: calc(100% / 4); //1행에 4개씩
				float: left;
				padding: 10px;
				div {
					width: 100%;
					background: #fff;
					padding: 20px;
					border-radius: 5px;
					box-shadow: 5px 5px 20px rbga(0, 0, 0, 0.1);
					a {
						img {
							width: 100%;
						}
					}
					p {
						font: 12px/1 "arial";
						color: #777;
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}
			}
		} //end of list
	} //end of wrap
}
